.view {
  background: url("https://images.pexels.com/photos/1303088/pexels-photo-1303088.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260
   (50).jpg")
  no-repeat center center;
  background-size: cover;
  height: 100vh;
}

h1 {
  font-size: 3vmax;
}

