<!--<div class="view">-->
  <!--<div class="full-bg-img">-->
    <!--<div class="mask rgba-black-light flex-center">-->
      <!--<div class="container text-center white-text">-->
        <!--<div class="white-text text-center wow fadeInUp">-->
          <!--<h1>Welcome to Sock Shop.</h1>-->
          <!--<h2>Find the best christmas deals available anywhere, right down below.</h2>-->
          <!--<button type="button" mdbBtn color="light" mdbWavesEffect routerLink="/socks" (click)="showImage = !showImage">Get the best deals anywhere.</button>-->
          <!--<br>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<div class="view">
  <div class="full-bg-img">
    <div class="mask rgba-indigo-slight flex-center">
      <div class="container">
        <div class="white-text text-center wow fadeInUp">
          <h1 class="animated fadeIn">Welcome to Sock Shop.</h1>
          <h2 class="animated fadeIn">Find the best christmas deals available anywhere, right down below.</h2>
          <button class="animated fadeIn" type="button" mdbBtn color="light" mdbWavesEffect routerLink="/socks">Get the best deals anywhere.</button>
        </div>
      </div>
    </div>
  </div>
</div>

