<section *ngIf="!loaded">
  You are not logged in. Click <a href="#">here</a> to log in.
</section>

<section *ngIf="loaded" [user]="user">
  <div class="card">
    <img class="card-img-top" src="https://i.imgur.com/ahzy4fk.jpg" alt="Card image cap">
    <div class="card-body">

      <h4 class="card-title">Hello, {{user.user_name}}</h4>
      <p class="card-text"><b>Email: </b>{{user.user_email}}</p>
      <p class="card-text"><b>Roles: </b>{{user.user_roles}}</p>
      <p class="card-text"><b>Postcode: </b>{{user.user_postcode}}</p>
      <p class="card-text"><b>Street number: </b>{{user.user_streetnumber}}</p>

      <button mdbBtn type="button" color="brown" mdbWavesEffect (click)="onLogOut()" routerLink="/welcome">Log Out</button>
      <button mdbBtn type="button" color="brown" mdbWavesEffect *ngIf="isAdmin" routerLink="/adminpanel">Admin Panel</button>
    </div>

  </div>
</section>
